<p id="notice"><%= notice %></p>

<p>
  <strong>
    <%= @cocktail.name %>
  </strong>
</p>
<p>
  <% if @cocktail[:photo] %>
    <%= image_tag @cocktail.photo.url(:cocktail) %>
  <% end %>
</p>

<ul>
  <% @cocktail.doses.each do |dose| %>
  <li>
  <%= "#{dose.ingredient.name} : #{dose.description}" %>
    <%= link_to dose_path(dose.id) , method: :delete, data: {confirm: "are you sure ?"} do %>
    <i class="fa fa-trash" aria-hidden="true"></i>
    <% end %>
  </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_cocktail_path(@cocktail) %> |
<%= link_to 'Back', cocktails_path %>

<p>Add dose here:</p>
<%= render 'doses/form', locals: {dose: @dose, cocktail: @cocktail} %>
